body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}
.container{
    max-width: 620px;
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    gap: 10px;
    border: 5px solid white;
    background-color: white;
}
.container img{
    width: 100%;
    max-width: 200px;
    max-height: 150px;
    display: block;
    object-fit: cover;
}
@media screen and (max-width: 576px){ 
    .container{     
        gap: 5px;
        padding: 2px;
    }
}
